<app-list-item *ngFor="let listItem of getFavouriteTasks(true)" [listItem]="listItem" (itemDeleted)="onItemDeleted()"></app-list-item>
<app-list-item *ngFor="let listItem of getFavouriteTasks(false)" [listItem]="listItem" (itemDeleted)="onItemDeleted()"></app-list-item>
<div class="info-message" *ngIf="todoList.length == 0">
    The are no tasks in this list!
</div>
