#new-list-input {
    margin: 15px;
    width: calc(100% - 30px);
}

.white .mat-form-field-underline {
  background-color: lightgray;
}

.white mat-label {
  color: lightgray;
}

.white.mat-focused mat-form-field {
  background-color: white;
}

.white.mat-focused mat-label {
  color: white;
}

.white input {
  color: white !important;
}
