<form [formGroup]='newListForm' #formDirective="ngForm">
    <mat-form-field id="new-list-input" class="white">
        <mat-label>New List</mat-label>
        <input matInput type="text" placeholder="List Name" formControlName='listName' (keyup.enter)="addList($event, formDirective)">
    </mat-form-field>
</form>