<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content>
  {{text}}
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="sendAnswer(false)">{{labelNo}}</button>
  <button mat-raised-button color="primary" (click)="sendAnswer(true)">{{labelYes}}</button>
</mat-dialog-actions>
