<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content>
  {{text}}
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" mat-dialog-close>{{labelOk}}</button>
</mat-dialog-actions>
