<div class="container">
  <mat-card>
    <mat-card-header>
      <h1>SimpleTech Login</h1>
    </mat-card-header>
    <mat-card-content>
      <form>
        <mat-form-field>
          <mat-label>{{ "Username" | translate}}</mat-label>
          <input matInput placeholder="{{ 'Username' | translate}}" name="username" [(ngModel)]="username">
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ "Password" | translate}}</mat-label>
          <input matInput placeholder="{{ 'Password' | translate}}" name="password" type="password" [(ngModel)]="password">
        </mat-form-field>
        <button id="btn-login" mat-raised-button color="primary" (click)="login()">{{ "Login" | translate}}</button>
        <mat-error *ngIf="wrongCredentials">Invalid Credentials. Please try again...</mat-error>
      </form>
    </mat-card-content>
  </mat-card>
</div>
