<div class="container">
    <div id="list-item-check">
        <mat-checkbox color="primary" [(ngModel)]="listItem.completed" (change)="toggleCompleted()"></mat-checkbox>
    </div>
    <div id="list-item-content" (click)="openDialog()">
        <div class="title">{{listItem.title}}</div>
        <div class='due-date'>{{listItem.dueDate}}</div>
    </div>
    <div id="list-item-options">
      <button id="btn-favourite" mat-button (click)="toggleFavourite()">
        <mat-icon [ngClass]="{'material-icons-outlined': !listItem.favourite}">grade</mat-icon>
      </button>
      <button id="btn-delete" mat-button (click)="deleteTodo()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
</div>
