.container {
    display: flex;
    align-items: center;

    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #aaaaaa;

    background-color:white;

    padding: 10px;
}

.container:hover {
    background-color: #3f3f9e33;
    cursor: pointer;
}

#list-item-check, #list-item-options {
    flex: 0 0 auto;
}

#list-item-content {
    flex: 1 1 auto;
    padding: 0px 10px;
}

#btn-favourite {
  width: auto;
  min-width: auto;
  padding: 0px;
  color: orange;
}

#btn-delete {
  width: auto;
  min-width: auto;
  padding: 0px;
  color: #333333;
}

#btn-favourite .material-icons-outlined {
    color: #777777;
}

#list-item-content .due-date {
    font-size: x-small;
    color: #aaaaaa;
}
