<mat-drawer-container>
    <mat-drawer mode="side" opened>
        <div id="list-title">My Lists</div>
        <div id=lists>
            <span *ngIf="selectedTodoList !== null">
                <button mat-button *ngFor="let todoList of todoListsArray"
                    [ngClass]="{'selected': todoList.id == selectedTodoList.id}"
                    (click)="selectTodoList(todoList)"
                >{{todoList.name}}</button>
            </span>
            <app-new-list-input (itemAdded)="onListAdded()"></app-new-list-input>
        </div>
        <div id="logout">
          <button mat-raised-button (click)="logout()">Logout</button>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <div class="container" *ngIf="todoListsArray.length > 0">
            <app-new-todo-input [todoList]="selectedTodoList" (itemAdded)="onItemAdded()"></app-new-todo-input>
            <app-todo-list [todoList]="selectedTodoList.todos" (itemDeleted)="onItemDeleted()"></app-todo-list>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
